{% load static %}
<html>
    <style>
        body {
            background-color: #343a40;
        }
        h1 {
            color: f8f9fa
        }
    </style>
    <body>
        <h1>Monsters</h1>
        {% for monster in monsters %}
            {% comment %} <li>Monster ID is {{ monster.id }} and name is {{ monster.monster_name }}</li> {% endcomment %}
            <a href="{{monster.id}}">
                <img src="{% static monster.monster_image %}">
            </a>
            {% if forloop.counter|divisibleby:5 %}
                <br></br>
            {% endif %}
        {% endfor %}
        </body>
</body>
</html>