{% load static %}
<html>
    <style>
        body {
            background-color: #343a40;
        }
        h1 {
            color: f8f9fa
        }
        img {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            text-align: center;
        }
    </style>
    <body>
        <h1>Monsters</h1>
        {% for monster in monsters %}
            {% comment %} <li>Monster ID is {{ monster.id }} and name is {{ monster.monster_name }}</li> {% endcomment %}
            <a href="{{monster.id}}">
                <img src="{% static monster.monster_image %}" class="center">
            </a>
            {% comment %} {% if forloop.counter|divisibleby:5 %}
                <br></br>
            {% endif %} {% endcomment %}
        {% endfor %}
        </body>
</body>
</html>