{% load static %}
<html>
    <style>
        table, th, td {
          border:1px solid #e9ecef;
        }
        body {
            background-color: #343a40;
        }
        h1,th {
            color: f8f9fa
        }
        h1 {
            text-align: center;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <h1>{{monster_hzv.pop}} </h1>
    <img src="{% static monster_hzv.pop %}">
    <body>
        <table style="width:100%">
            <tr>
                <th>Part name</th>
                <th>State</th>
                <th> <img src="{% static 'icons/sever.png' %}"></th>
                <th> <img src="{% static 'icons/stun.png' %}"></th>
                <th> <img src="{% static 'icons/ammo.png' %}"></th>
                <th> <img src="{% static 'icons/fire.png' %}"></th>
                <th> <img src="{% static 'icons/water.png' %}"></th>
                <th> <img src="{% static 'icons/thunder.png' %}"></th>
                <th> <img src="{% static 'icons/ice.png' %}"></th>
                <th> <img src="{% static 'icons/dragon.png' %}"></th>
                <th> <img src="{% static 'icons/stun.png' %}"></th>
            </tr>
            {% for hzv in monster_hzv %}
                <tr>
                    <th> {{hzv.part_name}}</th>
                    <th> {{hzv.state}}</th>
                    <th> {{hzv.sever}}</th>
                    <th> {{hzv.impact}}</th>
                    <th> {{hzv.ammo}}</th>
                    <th> {{hzv.fire}}</th>
                    <th> {{hzv.water}}</th>
                    <th> {{hzv.thunder}}</th>
                    <th> {{hzv.ice}}</th>
                    <th> {{hzv.dragon}}</th>
                    <th> {{hzv.stun}}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</body>
</html>